body {
	padding-top: 50px;
}

.form-signup, .form-signin {
	width: 400px;
	margin: 0 auto;
}

.error-message{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

mark{
	background-color: #ffff00;
}

#createDir{
	z-index: 999;
	position: relative;
}